<html>

<title>{{title}} | IoT Activation</title>
{{>styles}}

<body class="hold-transition skin-green sidebar-mini">

<div class="wrapper">

  {{>nav}}
  {{>sidebar}}


  {{{body}}}

</div>
{{>scripts}}
</body>
</html>